@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("./pricedown.otf");
}

@font-face{

font-family: "Helevetica_Now_Display";
    src: url("./HeleveticaNowDisplay-Regular.ttf");
}

html, body{
    width: 100%;
    height: 100%;
    font-family: "pricedown";

}

.btmbar .scr, .rimg .pr {
    font-family: "Helevetica_Now_Display";
}

